<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_java_config">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_java_config</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_java_config" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.taglibs:taglibs-standard-impl:1.2.5" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springMVC_java_config/web/Web" />
    </root>
  </artifact>
</component>